@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-title: #111111;
  --color-blue: #2E8CEB;
  --color-text: #666673;
  --font-aktison: var(--font-atkison);

  --text-display-1: 2.25rem;
  --text-display-1--line-height: 2.625rem;
  --text-display-2: 1.875rem;
  --text-display-2--line-height: 1.875rem;
  --text-display-3: 1.25rem;
  --text-display-3--line-height: 1.25rem;
  --text-display-4: 1.125rem;
  --text-display-4--line-height: 1.25rem;
  --text-cta-advance: 2.5rem; 
  --text-cta-advance--line-height: 2.5rem;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-atkison);
}
